
#navigationBar{
    background-color:#FF7500;
    
    
}
a{
    color:white;
}
.landing-page{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("./Images/danielle-macinnes-logv9s7f67o-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh; 
}
#About{
    background-color: white;
    height: 30vh;  
    margin: auto;
    padding-top: 2em;
}
#orders{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./Images/chad-montano-MqT0asuoIcU-unsplash.jpg");
    /* height: 77vh; */
    text-align: center;
    background-size: cover;
    background-position: center;
    margin: auto;
    
}
#footer{
    background-color:#FC6400;
}
